.loadContainer {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--mantine-color-body);
    z-index: 9999;
    animation: wrapper 2.8s ease-in forwards;
}

@keyframes wrapper {
    0%,
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}