.loadContainer {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--mantine-color-body);
    z-index: 9999;
    animation: wrapper 2.8s ease-in forwards;
}

.loader {
    display: inline-flex;
    gap: 3px;
    background-image: linear-gradient(to right,
            var(--mantine-color-blue-7),
            var(--mantine-color-cyan-6));
    padding: 10px 10px 2px 10px;
    border-radius: var(--mantine-radius-xl) var(--mantine-radius-xl) 0 0;
}

.loader:before,
.loader:after {
    content: "";
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        linear-gradient(var(--mantine-color-blue-7) 0 0) top/100% 0% no-repeat,
        radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
    animation: eyes 2.8s ease-in forwards;
}

@keyframes eyes {
    0% {
        background-size: 100% 0%, 8px 8px;
        background-position: top, 50% 50%;
        opacity: 1;
    }

    70% {
        background-size: 100% 70%, 8px 8px;
        background-position: top, 50% 70%;
        opacity: 1;
    }

    74%,
    80% {
        background-size: 100% 0%, 8px 8px;
        background-position: top, 50% 50%;
        opacity: 1;
    }

    95%,
    100% {
        background-size: 100% 0%, 8px 8px;
        background-position: top, 50% 50%;
        opacity: 0;
    }
}

@keyframes wrapper {
    0%,
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}