.image {
    height: 80px;
    width: auto;
    object-fit: contain;
    filter: brightness(0);
    pointer-events: none;

    @mixin dark {
        filter: brightness(0) invert(1);
    }

    @media (max-width: $mantine-breakpoint-md) {
        height: 60px;
    }
}

.company {
    font-weight: 700;
    font-size: var(--mantine-font-size-xl);
    text-transform: uppercase;
    
    @media (max-width: $mantine-breakpoint-md) {
        font-size: var(--mantine-font-size-sm);
    }
}

.role {
    font-size: var(--mantine-font-size-md);
    
    @media (max-width: $mantine-breakpoint-md) {
        font-size: var(--mantine-font-size-sm);
    }
}

.period {
    font-size: var(--mantine-font-size-md);
    
    @media (max-width: $mantine-breakpoint-md) {
        font-size: var(--mantine-font-size-sm);
    }
}

.responsibilty {
    font-size: var(--mantine-font-size-md);
    
    @media (max-width: $mantine-breakpoint-md) {
        font-size: var(--mantine-font-size-sm);
    }
}