.title {
    text-align: center;
    letter-spacing: -1px;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    margin-bottom: var(--mantine-spacing-lg);
    margin-top: var(--mantine-spacing-xl);
    justify-self: center;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: 14px;
        margin-top: var(--mantine-spacing-xs);
        margin-bottom: 0;
    }
}

.highlight {
    font-size: 70px;
    font-weight: 500;
    line-height: 0.7;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: 34px;
    }
}