.list {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    min-width: 40dvw;
    z-index: 2;
    justify-content: space-between;

    @media (max-width: $mantine-breakpoint-xs) {
        min-width: 100dvw;
    }
}

.indicator {
    border-radius: var(--mantine-radius-xl);
    background-image: linear-gradient(to right,
            var(--mantine-color-blue-7),
            var(--mantine-color-cyan-6));
}

.tab {
    z-index: 1;
    font-weight: 500;
    transition: color 500ms ease;
    color: var(--mantine-color-gray-7);
    gap: var(--mantine-spacing-xs);
    justify-content: center;

    &[data-active] {
        color: var(--mantine-color-white);
    }

    @mixin dark {
        color: var(--mantine-color-dark-1);

        &[data-active] {
            color: var(--mantine-color-white);
        }
    }
}